node_modules/
dist/
build/
.env
.env.*.local
.env.prod
*.log
.DS_Store

# backend
backend/tokens/
backend/node_modules/
backend/dist/
backend/prisma/*.db

# frontend
frontend/node_modules/
frontend/dist/

# docker
postgres_data/

# segredos compartilhados (S3, Mongo, Rabbit)
env-geral
